@model List<Demo6.Classes.NinjaEquipment>

<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Type</td>
                </tr>
            }
        </tbody>
    </table>
</div>